
#nav {   
    height:67vh;
    padding: 0px 4px 0px 0px;
    overflow: auto;
    overflow-x: hidden;
}

.pop {
    padding: 0px 0px 0px 0px;
}

.same_insta {
    font-size:11px;  
    margin:2px 0px 0px -30px; 
    position:absolute; 
    background-color: transparent;
    border: transparent;
}

.instance_btn{
    font-size:11px;      
    background-color: transparent;
    border: transparent;

}



#myImg{
    width: 25px;
    height: 22px;
    position: absolute;
    object-fit: cover;	
}


.hover_zoom {
    border: none;
    margin: 0 auto;
    height:70px;
    width:70px;
}
.hover_zoom:hover {
    //-webkit-transform: scale(2);
    // -moz-transform: scale(2);
    // -o-transform: scale(2);
    transform: scale(2.4);
    // transition: all 0.3s;
    -webkit-transition: all 0.3s;
    z-index: 101;
    border-radius: 1px;




}

#text_modal_pre{
    white-space: pre-line;
    font-family: inherit;
    font-size: 15px;
    border: 0px solid #f7f7f7;
    max-height: 535px

}



#filterefresh {
    position: relative;
    margin: 3px -3px 0px 0px;
    top: 1px;  
    width: 0;
}


.grey-tooltip + .tooltip > .tooltip-inner {
    background-color: #464f51;
}

#empty_border{
    height:15px; 
    margin-right:-35px; 
    margin-left: -25px; 
    margin-top: 10px; 
    background-color: #464F51; 
    display:none;
}

.image-caption {
    line-height: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.configuration{
    border: #d6d6d6;
    border-width: 1px;
    border-style: solid;
    padding: 10px;

}

#alert_placeholder{
    display: inline;
    color: #c74141;
    margin-left: 10px;

}

.triple {
    height:inherit;
    width: inherit;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: -15px;     
}


#predicate_style
{
    // background: #e2e6ea;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:  #c7c7c7;  
    // background: url(images/treeview-black-line.gif) 0 0 no-repeat;
}

#inner_predicate
{
    margin-left: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:  #c7c7c7; 
    background-color: #f7f8fb;                                
}

.subject {            
    //height:inherit;
    height:20px;
    width: inherit;
    font-size: 14px;        
    padding:15px 15px 15px 15px;       
    border-color:#dadada;
    font-weight: 600;    
    background-color: #CDD1D3; 
    margin-left: 30px;        
    display: inline-block;
    //padding-left: 10px;               
}

.predicate {
    height:inherit;
    font-size: 14px;   
    padding:10px 10px 10px 10px ;    
    color: #3A3A3A;   
}

/**************************   Actors Red  ************************************/


/*** Cidoc CRM  ***/
.E21_Person,
.E39_Actor,
.E40_Legal_Body,
.E74_Group,
/*** Parthenos  ***/
.PE25_RI_Consortium,	
.PE28_Curation_Plan,	
.PE34_Team,	
.PE35_Project
{        
    background: #E0D3D5;  
}  

/*** Cidoc CRM  ***/
#E21_Person,
#E39_Actor,
#E40_Legal_Body,
#E74_Group,
/*** Parthenos  ***/
#PE25_RI_Consortium,		
#PE28_Curation_Plan,	
#PE34_Team,	
#PE35_Project
{                   
    color:  #9B4C4C;
}

/**************************  Place Green  ************************************/
.E53_Place,
/*** CRMdig  ***/
.D23_Room
{
    background-color: #D5E0C6;     
}   

#E53_Place,
/*** CRMdig  ***/
#D23_Room
{
    color: #6A753D;
}            

/**************************   Physical Things Brown  ********************************/

/*** Cidoc CRM  ***/
.E18_Physical_Thing,
.E20_Biological_Object,
.E22_Man-Made_Object,
.E24_Physical_Man-Made_Thing,
.E25_Man-Made_Feature,
.E27_Site,
.E71_Man-Made_Thing,
.E78_Collection,
.E84_Information_Carrier,
/*** CRMdig  ***/
.D8_Digital_Device,
.D13_Digital_Information_Carrier

{       
    background-color: #CEC6C0;  
}  

/*** Cidoc CRM  ***/
#E18_Physical_Thing,
#E20_Biological_Object,
#E22_Man-Made_Object,
#E24_Physical_Man-Made_Thing,
#E25_Man-Made_Feature,
#E27_Site,
#E71_Man-Made_Thing,
#E78_Collection,
#E84_Information_Carrier
/*** CRMdig  ***/
#D8_Digital_Device,
#D13_Digital_Information_Carrier
{       
    color: #6B625E;
}

/**************************   Conceptual things yellow ************************************/
/*** Cidoc CRM  ***/
.E28_Conceptual_Object,
.E29_Design_or_Procedure,
.E30_Right,
.E31_Document,
.E32_Authority_Document,
.E33_Linguistic_Object,
.E34_Inscription,
.E36_Visual_Item,
.E37_Mark,
.E38_Image,
.E73_Information_Object,
.E89_Propositional_Object,
.E90_Symbolic_Object,

/*** Parthenos  ***/
.PE18_Dataset,	
.PE19_Persistent_Digital_Object,
.PE20_Volatile_Digital_Object,	
.PE21_Persistent_Software,	
.PE22_Persistent_Dataset,	
.PE23_Volatile_Software,
.PE24_Volatile_Dataset,
.PE29_Access_Point,
.PE38_Schema,

/*** CRMdig  ***/
.D1_Digital_Object,
.D9_Data_Object,
.D14_Software,
.D21_Person_Name,
.D29_Annotation_Object
{      
    background-color: #EFE8BB; 
} 

/*** Cidoc CRM  ***/
#E28_Conceptual_Object,
#E29_Design_or_Procedure,
#E30_Right,
#E31_Document,
#E32_Authority_Document,
#E33_Linguistic_Object,
#E34_Inscription,
#E36_Visual_Item,
#E37_Mark,
#E38_Image,
#E73_Information_Object,
#E89_Propositional_Object,
#E90_Symbolic_Object,
/*** Parthenos  ***/
#PE18_Dataset,	
#PE19_Persistent_Digital_Object,
#PE20_Volatile_Digital_Object,	
#PE21_Persistent_Software,	
#PE22_Persistent_Dataset,	
#PE23_Volatile_Software,
#PE24_Volatile_Dataset,
#PE29_Access_Point,	
#PE38_Schema	,
/*** CRMdig  ***/
#D1_Digital_Object,
#D9_Data_Object,
#D14_Software,
#D21_Person_Name,
#D29_Annotation_Object
{
    color: #AA9126;
}

/**************************   Temportal Entities blue  *****************************/

/*** Cidoc CRM  ***/
.E2_Temporal_Entity,
.E3_Condition_State,
.E4_Period,
.E5_Event,
.E7_Activity,
.E8_Acquisition,
.E9_Move,
.E11_Modification,
.E12_Production,
.E13_Attribute_Assignment,
.E14_Condition_Assessment,
.E16_Measurement,
.E17_Type_Assignment,
.E65_Creation,
.F30_Publication_Event,
.E63_Beginning_of_Existence,
.E64_End_of_Existence,
.E65_Creation,
.E66_Formation,
.E68_Dissolution,
.E67_Birth,
.E69_Death,
.E79_Part_Addition,
.E80_Part_Removal,
.E81_Transformation,
.E84_Type_Creation,
/*** Parthenos  ***/
.PE1_Service,	
.PE2_Hosting_Service,
.PE3_Curating_Service,
.PE5_Digital_Hosting_Service,
.PE6_Software_Hosting_Service,	
.PE7_Data_Hosting_Service,	
.PE8_E-Service,
.PE10_Digital_Curating_Service,	
.PE11_Software_Curating_Service,	
.PE12_Data_Curating_Service,
.PE13_Software_Computing_E-Service,	
.PE14_Software_Delivery_E-Service,	
.PE15_Data_E-Service,
.PE16_Curated_Software_E-Service,	
.PE17_Curated_Data_E-Service,	
.PE26_RI_Project,	
.PE33_E-Access_Brokering_Service
/*** CRMdig  ***/
.D2_Digitization_Process,
.D3_Formal_Derivation,
.D7_Digital_Machine_Event,
.D10_Software_Execution,
.D11_Digital_Measurement_Event,
.D12_Data Transfer_Event

{   
    background-color: #CCE1EA  !important;
}

.iou
{
    background-color: #dadada;
}

/*** Cidoc CRM  ***/
#E2_Temporal_Entity,
#E3_Condition_State,
#E4_Period,
#E5_Event,
#E7_Activity,
#E8_Acquisition,
#E9_Move,
#E11_Modification,
#E12_Production,
#E13_Attribute_Assignment,
#E14_Condition_Assessment,
#E16_Measurement,
#E17_Type_Assignment,
#E65_Creation,
#F30_Publication_Event,
#E63_Beginning_of_Existence,
#E64_End_of_Existence,
#E65_Creation,
#E66_Formation,
#E68_Dissolution,
#E67_Birth,
#E69_Death,
#E79_Part_Addition,
#E80_Part_Removal,
#E81_Transformation,
#E84_Type_Creation,

/*** Parthenos  ***/
#PE1_Service,	
#PE2_Hosting_Service,
#PE3_Curating_Service,
#PE5_Digital_Hosting_Service,
#PE6_Software_Hosting_Service,	
#PE7_Data_Hosting_Service,	
#PE8_E-Service,
#PE10_Digital_Curating_Service,	
#PE11_Software_Curating_Service,	
#PE12_Data_Curating_Service,
#PE13_Software_Computing_E-Service,	
#PE14_Software_Delivery_E-Service,	
#PE15_Data_E-Service,
#PE16_Curated_Software_E-Service,	
#PE17_Curated_Data_E-Service,
#PE26_RI_Project,
#PE33_E-Access_Brokering_Service,
/*** CRMdig  ***/
#D2_Digitization_Process,
#D3_Formal_Derivation,
#D7_Digital_Machine_Event,
#D10_Software_Execution,
#D11_Digital_Measurement_Event,
#D12_Data Transfer_Event
{
    color: #5286B5;
}



/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    margin-right: 6px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased; 
}

.rotate-45-right {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

//////////////////////////
